twitter_api.py
twitterOauth.py
requirements.txt
twitterOldAccount.json
twitterNewAccount.json
venv
followList.csv
followList_selected.csv
selector.txt
.vscode
followList.ipynb
twitterFollowTransfer.ipynb